<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="09/02/2024 16:29" createdAt="08/15/2024"
    notes="Gacoan Level 2"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updatedAt="09/02/2024 10:00" createdAt="08/13/2024"
    notes="Seblak Pasta"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="09/02/2024 18:00" createdAt="08/10/2022"
    value="Rp 50.000"></app-pickup-call-card>

</ion-content>